<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>body</key>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ullamcorper mi. Phasellus accumsan mollis nunc, et gravida quam. Fusce fringilla, est a porttitor molestie, augue orci scelerisque ipsum, non rhoncus leo purus eget dolor. Proin vitae orci feugiat, facilisis mi quis, vulputate eros. Pellentesque egestas augue tristique, dictum est vehicula, tincidunt risus. Donec tristique, mauris id congue iaculis, ligula metus adipiscing odio, non semper sapien diam ac mauris. Fusce lacus dolor, molestie a leo vel, pharetra porttitor velit. Morbi in porta lacus. Duis commodo, turpis at mattis egestas, felis tellus sollicitudin felis, non dictum neque nisi et justo. Integer tincidunt ultricies pulvinar. In hac habitasse platea dictumst. Maecenas molestie faucibus est et dignissim.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ullamcorper mi. Phasellus accumsan mollis nunc, et gravida quam. Fusce fringilla, est a porttitor molestie, augue orci scelerisque ipsum, non rhoncus leo purus eget dolor. Proin vitae orci feugiat, facilisis mi quis, vulputate eros. Pellentesque egestas augue tristique, dictum est vehicula, tincidunt risus. Donec tristique, mauris id congue iaculis, ligula metus adipiscing odio, non semper sapien diam ac mauris. Fusce lacus dolor, molestie a leo vel, pharetra porttitor velit. Morbi in porta lacus. Duis commodo, turpis at mattis egestas, felis tellus sollicitudin felis, non dictum neque nisi et justo. Integer tincidunt ultricies pulvinar. In hac habitasse platea dictumst. Maecenas molestie faucibus est et dignissim.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ullamcorper mi. Phasellus accumsan mollis nunc, et gravida quam. Fusce fringilla, est a porttitor molestie, augue orci scelerisque ipsum, non rhoncus leo purus eget dolor. Proin vitae orci feugiat, facilisis mi quis, vulputate eros. Pellentesque egestas augue tristique, dictum est vehicula, tincidunt risus. Donec tristique, mauris id congue iaculis, ligula metus adipiscing odio, non semper sapien diam ac mauris. Fusce lacus dolor, molestie a leo vel, pharetra porttitor velit. Morbi in porta lacus. Duis commodo, turpis at mattis egestas, felis tellus sollicitudin felis, non dictum neque nisi et justo. Integer tincidunt ultricies pulvinar. In hac habitasse platea dictumst. Maecenas molestie faucibus est et dignissim.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus ullamcorper mi. Phasellus accumsan mollis nunc, et gravida quam. Fusce fringilla, est a porttitor molestie, augue orci scelerisque ipsum, non rhoncus leo purus eget dolor. Proin vitae orci feugiat, facilisis mi quis, vulputate eros. Pellentesque egestas augue tristique, dictum est vehicula, tincidunt risus. Donec tristique, mauris id congue iaculis, ligula metus adipiscing odio, non semper sapien diam ac mauris. Fusce lacus dolor, molestie a leo vel, pharetra porttitor velit. Morbi in porta lacus. Duis commodo, turpis at mattis egestas, felis tellus sollicitudin felis, non dictum neque nisi et justo. Integer tincidunt ultricies pulvinar. In hac habitasse platea dictumst. Maecenas molestie faucibus est et dignissim.</string>
</dict>
</plist>
